<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SiteLogin" value="http://172.25.35.133:7210/migracao/login.jsp"/>
		<add key="SiteLogout" value="http://172.25.35.133:7210/migracao/Logout.do"/>
    <add key="LinkDiscord" value="https://discord.com/api/webhooks/945377898783723570/0lBtVs1RC1U87sEo2-RkPaIGtKRGlnaSmU5HZY6gMCXG1P3WiPCcPX-Y5tsY9jrFE196"/>
		<add key="PastaOndeVaiSalvar" value="D:\\TestarLogins\\loginsNegados.txt"/>
		<add key="PastaDeOndePegaOsLogins" value="D:\\TestarLogins\\logins.txt"/>
		<add key="NumeroTentativas" value="3"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>